$fl: floralwhite;
$ff: "Orbitron", sans-serif;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");

@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-dn $pad-left-right;
}

body {
  background: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  color: $fl;
  height: 80px;
  font-size: 16px;
  z-index: 1;
  .container {
    min-width: 70%;
    margin-top: auto;
    margin-bottom: auto;
  }
  .navbar-brand {
    font-family: $ff;
    color: $fl;
    font-size: 25px;
  }
  #navbarNav {
    ul {
      li {
        padding: 0 10px;
        @media (min-width: 1080px) {
          padding: 0 20px;
        }
      }
    }
  }
}

.navbar.collapse {
  display: flex;
}

.offcanvas-header {
  display: none;
}

@media (max-width: 786px) {
  .offcanvas-header {
    display: block;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    -webkit-transition: all ease-in-out 0.4s;
    transition: visibility ease-in-out 1s;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}

#intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  position: relative;

  background-color: rgba(0, 0, 0, 0.75);
}

#videoMessage {
  position: absolute;
  padding-top: 22rem;

  @media (min-width: 786px) {
    padding-top: 22rem;
  }
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#intro_bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

#skills {
  position: absolute;

  min-width: 100%;
  background-color: #ffffff;
}

.home-text {
  // font-family: "Orbitron", sans-serif;
  color: #e09200;
  font-size: 1.2rem;
  @media (max-width: 786px) {
    text-align: center;
  }
  @media (min-width: 786px) {
    font-size: 1.4rem;
  }
  h1 {
    color: $fl;
    font-family: "Orbitron", sans-serif;
    font-size: 3.3rem;
    @media (min-width: 786px) {
      font-size: 5rem;
    }
  }
}

#skills {
  @include zero-margin(175px, 0px);
  text-align: center;
  .heading {
    font-size: 30px;
    letter-spacing: 16px;
    font-weight: 200;
    margin-bottom: 100px;
    @media (min-width: 786px) {
      font-size: 45px;
      letter-spacing: 22px;
      font-weight: 200;
      margin-bottom: 100px;
    }
  }

  .project-item {
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
    img {
      max-width: 100%;
      max-height: 100%;
      -webkit-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s;
      @media (max-width: 560px) {
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      @media (min-width: 1076px) {
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      display: block;
    }
  }

  .project-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    max-width: 100%;
    max-height: 100%;

    @media (max-width: 560px) {
      max-width: 80%;
      max-height: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: 1076px) {
      max-width: 80%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    display: block;
    // margin-bottom: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;

    .project-info {
      padding: 4em 0;
      margin-left: auto;
      margin-right: auto;
      // font-family: $ff;
      h1 {
        color: #ffffff;
        // font-size: 1.5rem;
        font-weight: 300;
        margin: 0;
        @media (min-width: 1076px) {
          margin-top: 40px;
        }
      }
      h3 {
        color: #d9d9d9;
        font-size: 1rem;
        letter-spacing: 0.2px;
        margin-top: 0;
      }
    }

    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
}

.project-item:hover img {
  transform: scale(1.1);
}

.project-item:hover .project-overlay {
  opacity: 1 !important;
  transform: scale(1.1);
}
