$fl: floralwhite;
$f: #991200;
$mf: #c03715;
$ff: "Orbitron", sans-serif;
$theme: #d67456;

$map_t: 0.6s;

$nav-height: 80px;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");

@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-dn $pad-left-right;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

hr {
  margin: 0;
  background-color: #ddd;
  max-width: 5%;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  color: $fl;
  height: $nav-height;
  font-size: 16px;
  z-index: 1;
  .container {
    min-width: 70%;
    margin-top: auto;
    margin-bottom: auto;
  }
  .navbar-brand {
    font-family: $ff;
    color: $fl;
    font-size: 25px;
  }
  #navbarNav {
    ul {
      li {
        font-size: 17px;
        .nav-link {
          color: $fl;
          opacity: 0.7;
        }
        .nav-link:hover {
          opacity: 0.9;
        }
        .active {
          opacity: 1;
        }
        padding: 0 10px;
        @media (min-width: 1080px) {
          padding: 0 20px;
        }
      }
    }
  }
}

.navbar.collapse {
  display: flex;
}

.offcanvas-header {
  display: none;
}

@media (max-width: 786px) {
  .offcanvas-header {
    display: block;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    -webkit-transition: all ease-in-out 0.4s;
    transition: visibility ease-in-out 1s;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}

#intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  position: relative;

  background-color: rgba(0, 0, 0, 0.75);
}

#videoMessage {
  position: absolute;
  padding-top: 19rem;

  @media (min-width: 786px) {
    padding-top: 22rem;
  }
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#intro_bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

#start {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 1100;
  background-color: #ffffff;
}
#start {
  // transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.65s ease;
  // transition-delay: 5s;
}

.home-text {
  // font-family: "Orbitron", sans-serif;
  color: #e09200;
  font-size: 1.2rem;
  @media (max-width: 786px) {
    text-align: center;
  }
  @media (min-width: 786px) {
    font-size: 1.4rem;
  }
  h1 {
    color: $fl;
    font-family: "Orbitron", sans-serif;
    font-size: 3.3rem;
    animation-delay: 0.05s;
    @media (min-width: 786px) {
      font-size: 5rem;
    }
  }
  p {
    animation-delay: 0.1s;
  }
  a {
    border-radius: 3px;
    animation-delay: 0.15s;
    width: 42%;
    @media (max-width: 576px) {
      width: 47%;
    }

    @media (min-width: 1060px) {
      width: 27%;
      margin-top: 5px;
    }
  }
}

#about {
  min-width: 100%;
  background-color: #e9e7e7;
  // background-color: #ffffff;

  text-align: center;

  .container {
    min-width: 100%;
    min-height: 100%;
    #desc-img {
      @include zero-margin(70px, 30px);
      img {
        width: 220px;
        height: 240px;
        background-color: #494949;
        background-color: $theme;
        opacity: 115%;
        padding: 7px;
      }
    }

    #desc {
      @include zero-margin(70px, 30px);
      @media (min-width: 1060px) {
        @include zero-margin(140px, 60px);
      }

      min-height: 100%;
      background-color: #a0fd98a1;
      background-color: $theme;

      p {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.3px;
        font-family: Merriweather, serif;
        color: $fl;
        @media (min-width: 1060px) {
          padding-left: 3%;
        }

        vertical-align: middle;
        // color: #000000;
        // #hi {
        //   font-size: 40px;
        //   font-weight: 300;
        // }
      }
    }
  }
}

#skills {
  min-width: 100%;
  background-color: #818181;
  color: $fl;
  @include zero-margin(175px, 0px);
  text-align: center;
  .heading {
    font-size: 30px;
    letter-spacing: 16px;
    font-weight: 300;
    margin-bottom: 100px;
    @media (min-width: 786px) {
      font-size: 45px;
      letter-spacing: 22px;

      margin-bottom: 100px;
    }
  }

  .project-item {
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
    img {
      max-width: 100%;
      max-height: 100%;
      -webkit-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s;
      @media (max-width: 560px) {
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      @media (min-width: 1076px) {
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      display: block;
    }
  }

  .project-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    max-width: 100%;
    max-height: 100%;

    @media (max-width: 560px) {
      max-width: 80%;
      max-height: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: 1076px) {
      max-width: 80%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    display: block;
    // margin-bottom: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;

    .project-info {
      padding: 4em 0;
      margin-left: auto;
      margin-right: auto;
      // font-family: $ff;
      h1 {
        color: #ffffff;
        // font-size: 1.5rem;
        font-weight: 300;
        margin: 0;
        @media (min-width: 1076px) {
          margin-top: 40px;
        }
      }
      .fas,
      .far {
        color: #d9d9d9;
        font-size: 1rem;
        letter-spacing: 0.2px;
        margin-top: 0;
      }
    }

    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
}
@media (min-width: 786px) {
  .project-item:hover {
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.7);
    img {
      transform: scale(1.1);
      // border: 1px $theme;
    }
  }

  .project-item:hover .project-overlay {
    opacity: 1 !important;
    transform: scale(1.1);
  }
}

footer {
  width: 100%;
  min-height: 100%;

  // position: relative;
  #map {
    min-height: calc(100% - 80px);
    min-width: 100%;
    position: absolute;
    animation-duration: $map_t;
  }
  #map2 {
    // display: none;
    min-height: calc(100% - 80px);
    min-width: 100%;
    position: absolute;
  }
  #contact {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: calc(100% - 80px);
    min-width: 100%;
    position: absolute;
    align-items: center;
    animation-duration: $map_t;
  }
  #map_btn {
    background-color: $theme;
    color: $fl;
    font-weight: 600;
    position: absolute;
    width: 200px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.5);
    // @media (min-width: 1076px) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-left: calc((100% - 200px) / 2);
    z-index: 1100;
    &:hover {
      background-color: $mf;
    }
  }
}
