.navbar {
  .container {
    min-width: 75%;
  }
  #navbarNav {
    ul {
      li {
        padding: 0 10px;
        @media (min-width: 1080px) {
          padding: 0 20px;
        }
      }
    }
  }
}
