@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");
html {
  scroll-behavior: smooth; }

body {
  background: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden; }

.navbar {
  background-color: rgba(0, 0, 0, 0);
  color: floralwhite;
  height: 80px;
  font-size: 16px;
  z-index: 1; }
  .navbar .container {
    min-width: 70%;
    margin-top: auto;
    margin-bottom: auto; }
  .navbar .navbar-brand {
    font-family: "Orbitron", sans-serif;
    color: floralwhite;
    font-size: 25px; }
  .navbar #navbarNav ul li {
    font-size: 17px;
    padding: 0 10px; }
    .navbar #navbarNav ul li .nav-link {
      color: floralwhite;
      opacity: 0.7; }
    .navbar #navbarNav ul li .nav-link:hover {
      opacity: 0.9; }
    .navbar #navbarNav ul li .active {
      opacity: 1; }
    @media (min-width: 1080px) {
      .navbar #navbarNav ul li {
        padding: 0 20px; } }

.navbar.collapse {
  display: flex; }

.offcanvas-header {
  display: none; }

@media (max-width: 786px) {
  .offcanvas-header {
    display: block; }
  .navbar-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    -webkit-transition: all ease-in-out 0.4s;
    transition: visibility ease-in-out 1s; }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%); } }

#intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.75); }

#videoMessage {
  position: absolute;
  padding-top: 22rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  @media (min-width: 786px) {
    #videoMessage {
      padding-top: 22rem; } }

#intro_bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity; }

#start {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 1100;
  background-color: #ffffff; }

#start {
  transform-origin: top;
  transition: transform 0.65s ease; }

.home-text {
  color: #e09200;
  font-size: 1.2rem; }
  @media (max-width: 786px) {
    .home-text {
      text-align: center; } }
  @media (min-width: 786px) {
    .home-text {
      font-size: 1.4rem; } }
  .home-text h1 {
    color: floralwhite;
    font-family: "Orbitron", sans-serif;
    font-size: 3.3rem;
    animation-delay: 0.05s; }
    @media (min-width: 786px) {
      .home-text h1 {
        font-size: 5rem; } }
  .home-text p {
    animation-delay: 0.1s; }
  .home-text a {
    border-radius: 3px;
    animation-delay: 0.15s;
    width: 42%; }
    @media (max-width: 576px) {
      .home-text a {
        width: 47%; } }
    @media (min-width: 1060px) {
      .home-text a {
        width: 27%;
        margin-top: 5px; } }

#about {
  min-width: 100%;
  background-color: #ffffff;
  margin: 0px auto;
  padding: 175px 0px;
  text-align: center; }

#skills {
  min-width: 100%;
  background-color: #ffffff;
  margin: 0px auto;
  padding: 175px 0px;
  text-align: center; }
  #skills .heading {
    font-size: 30px;
    letter-spacing: 16px;
    font-weight: 200;
    margin-bottom: 100px; }
    @media (min-width: 786px) {
      #skills .heading {
        font-size: 45px;
        letter-spacing: 22px;
        font-weight: 200;
        margin-bottom: 100px; } }
  #skills .project-item {
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    margin-bottom: 60px; }
    #skills .project-item img {
      max-width: 100%;
      max-height: 100%;
      -webkit-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s;
      display: block; }
      @media (max-width: 560px) {
        #skills .project-item img {
          width: 80%;
          height: 80%;
          margin-left: auto;
          margin-right: auto; } }
      @media (min-width: 1076px) {
        #skills .project-item img {
          width: 80%;
          height: 80%;
          margin-left: auto;
          margin-right: auto; } }
  #skills .project-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
    @media (max-width: 560px) {
      #skills .project-overlay {
        max-width: 80%;
        max-height: 80%;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 1076px) {
      #skills .project-overlay {
        max-width: 80%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto; } }
    #skills .project-overlay .project-info {
      padding: 4em 0;
      margin-left: auto;
      margin-right: auto; }
      #skills .project-overlay .project-info h1 {
        color: #ffffff;
        font-weight: 300;
        margin: 0; }
        @media (min-width: 1076px) {
          #skills .project-overlay .project-info h1 {
            margin-top: 40px; } }
      #skills .project-overlay .project-info h3 {
        color: #d9d9d9;
        font-size: 1rem;
        letter-spacing: 0.2px;
        margin-top: 0; }

@media (min-width: 786px) {
  .project-item:hover img {
    transform: scale(1.1); }
  .project-item:hover .project-overlay {
    opacity: 1 !important;
    transform: scale(1.1); } }
